name: Java CI with Maven

on:
  push:
    branches: [ "bedrock-support" ]
  pull_request:
    branches: [ "bedrock-support" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn clean package

    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: superbvote-jar
        path: target/*.jar
